#contenedorGeneral{
    background: #F7F8FA;
    display: flex;
    width: 500px;
    height: 568px;
    padding: 36px 24px 24px 24px;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin: auto;
  }

.titulo {
    color: #3266fb;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
  }

  .label{
    color: #404040;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
  }

  .box{
    display: flex;
    width: 100%;
    height: 105px;
    padding: 8px 12px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #C2C2C2;
    background: #FFF;
    margin-bottom: 16px;
  }

  .box1 {
    display: flex;
    width: 100%;
    padding: 8px 12px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #C2C2C2;
    background: #FFF;
    margin-bottom: 16px;
  }


  .pesoSigno {
    font-size: 15px;
  }

  .contenedorForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    margin-top: 16px;
  }

  .form{
    display: flex;
    flex-direction: column;
  }

  .botonCancelar{
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid #874CFC;
  }

  .cancelar{
    color: #874CFC;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .botonActualizar{
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 8px;
    background: rgba(135, 76, 252, 0.80)
  }

  .actualizar{
    color: #FFF;
    font-size: 16px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .botonActualizar:hover{
    background-color: #6633cc;
  }

  .botonCancelar:hover{
    background-color: #d2c8e5;
  }

  .botonesForm{
    display: flex;
    margin-top: 16px;
    width: 100%;
  }

  .botonCancelar,
  .botonActualizar {
  margin-right: 10px; 
  padding: 8px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 8px;
}