#contenedorGeneral{
  display: flex;
  flex-direction: column;
  width: full;
  max-width: 25%;
  margin: 0 auto;
  padding: 36px 24px 24px 24px;
  gap: 8px;  
  background: linear-gradient(180deg, #329BFB 0%, #FFF 23.96%);
  }

.titulo {
  color: #1F1F22;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }

  .label{
    display: flex;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    color: #404040;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

  }

  .box{
    display: flex;
    width: 100%;
    height: 105px;
    padding: 8px 12px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #C2C2C2;
    background: #FFF;
    margin-bottom: 16px;
  }

  .box1 {
    display: flex;
    padding: 8px 12px;
    align-items: center;
    gap: 10px;
    align-self: stretch; 
    border-radius: 8px;
    border: 1px solid #C2C2C2;
    background: #FFF; 
  }


  .pesoSigno {
    font-size: 15px;
  }

  .contenedorForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch; 
  }

  .form{
    display: flex;
    flex-direction: column;
  }

  .botonCancelar{
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid #874CFC;
  }

  .cancelar{
    color: #874CFC;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .botonGuardar{
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 8px;
    background: rgba(135, 76, 252, 0.80)
  }

  .guardar{
    color: #FFF;
    font-size: 16px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .botonGuardar:hover{
    background-color: #6633cc;
  }

  .botonCancelar:hover{
    background-color: #d2c8e5;
  }

  .botonesForm{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }

  .botonCancelar,
  .botonGuardar {
  margin-right: 10px; 
  padding: 8px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 8px;
}
.observaciones{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  align-self: stretch; 
}
.opcional{
  color: #5BB0FF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}